$color1: #ddfe5a;
$color2: #06a9a0;

.header{
    width: 100%;
    background-color: $color2;
    position: absolute;
    margin-top: -50px;
    transition: margin ease 0.5s;
    .bottomRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        background-color: $color1;
    }
    &:hover{
        margin-top: 0;
    }
}